body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
header{
    display: flex;
    background-color: #ced4da;
    justify-content: space-around;
    width: 100%;
}
nav{
    cursor: pointer;
    display: flex;
    margin: 20px;
    gap: 6px;
}
nav a{
    text-decoration: none;
    color: black;
    transition: 1s ease-in;
}
.featured:hover{
    border-bottom: 1px solid black;
    margin-right: 10px;
}
.all:hover{
    border-bottom: 1px solid black;
    margin-left: 10px;
}
h1{
    font-size: 20px;
    margin-right: 19em;
}
p{
    color: white;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    margin: 30px;
}
.music{
    display: block;
    border: 2px solid rgb(85, 117, 133);
    border-radius: 1em;
    overflow: hidden;
    background-color: rgb(210, 206, 206);
    min-height: 22em;
    margin: 10px;
}
.music:hover{
    transition: 1s ease-out;
    transform: translateX(10px);
    background-color: rgb(85, 117, 133);
    color: white;
}
.music img{
    width: 100%;
    height: 60%
}
.music h3{
    font-size: 12px;
    font-weight: 700;
}
.music h4{
    font-size: 9px;
}
h3,h4,p{
    margin-left: 15px;
}
.modal{
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   top: 0;
   bottom: 0;
   right: 25%;
   left: 255;
   align-self: center;
   justify-content: center;
   width: 50%; /* Full width */
   height: 50vh; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: #dbd8d8; 
}
.modal-content {
   margin: 0 20%; /* 15% from the top and centered
   padding: 20px;
   /* border: 1px solid #888; */
   width: 100%; /* Could be more or less, depending on screen size */
   height: 100%; 
   color: black;
   display: block;
}
.close {
   color: #b81c1c;
   float: right;
   font-size: 5em;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
.modal-content section{
    display: flex;
    height: 50px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#creatorIdentification{
    color: black;
    text-align: center;
    
}
#creatorIdentification p{
    margin: 0;
    line-height: 20px;
    white-space: nowrap;
    
}
#creatorIdentification p:last-child{
    font-size: 0.8em;
}
#fest{
    width: 100px;
    height: 100px;
    
}
.shuffle-btn{
    background-color: rgb(45, 110, 231);
    color: ;
    box-shadow: 2px 2px black;
}
.shuffle-btn:hover{
    background-color: white;
    color: rgb(10, 110, 241);
}
.songList{
    display: grid;
    font-size: 10em;

}
.songItem{
    border: 2px solid black;
    width: 50vh;
    height: 10vh;
    margin: 2px;
    display: block;
    block-size: fit-content;
}
.songItem p{
   margin: 15px auto;
}
.songItem img{
    border: 2px solid green;
    width: 70px;
    height: 70px;
}
.songItem p{
    font-size: 10px;
    color: black;
}
.heart{
    cursor: pointer;
    font-size: 20px;
    transition: color .5s ease;
}
#selectedPlaylist{
   display: block;
   background-color: grey;
}
.featured-art{
    width: 100px;
}
.song{
    display: block;
}
.songArt{
    width: 100px;
    height: 100px;
}
#creatorIdentification p{
    color: black;
}
@media(max-width: 778px) and (min-width: 626px){
    header{
        padding: 2em;
        width: 100%;
    }
    ul{
        width: 5px;
        margin-right: 20px;

    }
}
@media (max-width: 625px) and (min-width: ) {
    header{
        width: 100%;
    }
}
